@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  font-family: "Montserrat", sans-serif;
  text-align: center; 
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 5px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.25);
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #ffa500;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #d67229;
}

/* Headings */

.title-type {
  font-family: "Source Code Pro", monospace;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900; 
  position: relative;
  max-width: 300px;
}

.title-container{
  display: flex;
  justify-content: center;
  width: 100%;
}

/* Title animation */

.title-type::before,
.title-type::after{
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  
}

.title-type::before{
  background-color: #ed7014;
  animation: typewriter 4s steps(8) 1s forwards;
}

.title-type::after{
  width: .125em;
  background: #fff;
  animation: typewriter 4s steps(8) 1s forwards,
  blink 750ms steps(24) infinite;
}

@keyframes typewriter{
  to{
    left: 100%;
  }
}

@keyframes blink{
  to{
    background: transparent;
  }
}

.section-heading{
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 900;
}

h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
}



/* Containers */
.container-fluid {
  padding: 7% 15%;
}

/* Sections */
.colored-section {
  background-color: #ed7014;
  color: #fff;
}

.white-section {
  background-color: #fff;
}

/* Navigation Bar */
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
}

/* Download Buttons */
.download-button {
  margin: 5% 3% 5% 0;
}

#title .container-fluid {
  padding: 3% 15% 7%;
}

/* About Section */
#About {
  position: relative;
}

.feature-title {
  font-weight: 600;
}

.feature-box {
  padding: 5%;
}

.icon {
  color: #ffa500;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ffa500;
}

/* Features Section */
.container-fluid .p-colored-sec {
  color: #000;
}

/* Reviews Section */
.testimonial-text {
  font-size: 1.5rem;
  line-height: 1.5;
  font-weight: 900;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

/* Teams */
.header h1 {
  color: #d67229;
  padding: 20px;
}

.body {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f2f2f2;
}

.slide-container {
  max-width: 950px;
  width: 100%;
  overflow: hidden;
  padding: 80px 0;
}

.slide-container .main-card {
  width: 200%;
  display: flex;
  justify-content: space-evenly;
  transition: all 1s ease;
}

#two:checked ~ .main-card {
  margin-left: -100%;
}

.main-card .cards {
  width: calc(100% / 2 - 10px);
  display: flex;
  justify-content: space-between;
  margin: 0 20px;
  flex-wrap: wrap;
}

.main-card .cards .card {
  background: #ffa500;
  width: calc(100% / 3 - 10px);
  padding: 30px;
  border-radius: 24px;
}

.cards .card .team-content {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  text-align: center;
}

.cards .card .team-content .img {
  height: 130px;
  width: 130px;
  margin-bottom: 14px;
  background: #fff;
  padding: 3px;
  border-radius: 50%;
}

.card .team-content .img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #ffa500;
}

.card .team-content .details .name {
  font-size: 20px;
  font-weight: 500;
}

.card .team-content .details .team-position {
  font-size: 20px;
  color: #fff;
  padding: 3px;
}

.card .team-content .media-icons {
  display: flex;
  padding: 3px;
}

.card .team-content .media-icons a {
  height: 35px;
  width: 35px;
  color: #ffa500;
  background: #fff;
  margin: 0 4px;
  border-radius: 50%;
  text-align: center;
  padding-top: 9.5px;
  line-height: 33px;
  font-size: 14px;
  border: 2px solid transparent;
  transition: all 0.4s ease;
}

.team-content .media-icons a:hover {
  border-color: #fff;
  color: #fff;
  background: #ed7014;
}

.button {
  display: flex;
  margin: 20px;
  justify-content: center;
}

.button label {
  height: 15px;
  width: 15px;
  background: #ed7014;
  margin: 0 4px;
  border-radius: 20px;
  transition: all 0.5s ease;
}

.button label.active {
  width: 35px;
}

#one:checked ~ .button label.one {
  width: 35px;
}

#two:checked ~ .button label.two {
  width: 35px;
}

#two:checked ~ .button label.one {
  width: 15px;
}

#one:checked ~ .button label.two {
  width: 15px;
}

input[type="radio"] {
  display: none;
}

/* Mobile POV */
@media (max-width: 768px) {
  .main-card .cards .card {
    width: calc(100% / 2 - 10px);
    margin: 20px 0 10px 0;
  }
}

@media (max-width: 600px) {
  .main-card .cards .card {
    width: 100%;
  }
}

/* Footer */
.footer-icon {
  margin: 20px 10px;
  color: #fff;
}

.footer-icon:hover {
  color: #ffa500;
  transition: 0.2s linear;
}

.container-fluid .p-white-sec {
  color: #fff;
  font-family: 'Bungee', cursive;
}

/* Mobile Size */
@media (max-width: 1028px) {
  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
    width: 60%;
  }

  .icon-tool {
    justify-content: center;
  }
}