* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Sidebar Section */
.app {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  flex: 1 1 0;
  max-width: 300px;
  padding: 20px;
  background: linear-gradient(#ed7014, #fa5b3d);

  /* With Scrollbar */
  position: sticky;
  height: 100vh;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: block;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  border-right: 1px solid #eee;
}

.sidebar h3 {
  font-family: 'Bungee', cursive;
  color: #fff;
}

.sidebar .menu {
  margin: 0 -1rem;
}

.sidebar .menu .menu-item {
  display: block;
  padding: 1em;
  color: #fff;
  text-decoration: none;
  transition: 0.2s linear;
}

.sidebar .menu .menu-item:hover,
.sidebar .menu .menu-item.is-active {
  color: rgb(255, 238, 151);;
  border-right: 5px solid rgb(255, 238, 151);
}

/* Content Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #ffa500;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #d67229;
}

/* Content Section */
.content {
  flex: 1 1 0;
  padding: 2rem;
  background: linear-gradient(#dd5713, #d67229);
}

.content iframe {
  width: 650px;
  height: 415px;
  display: block;
  margin: 3rem auto;
}

.content h1 {
  font-family: 'Bungee', cursive;
  color: #fff;
  margin-bottom: 1rem;
}

.content strong {
  font-family: 'Bungee', cursive;
  color: #fff;
}

.content p {
  text-align: justify;
  color: #fff;
}

/* Sample Code Content */
.sample-code {
  width: 65%;
  background: rgb(255, 238, 151);
  padding: 1em;
  margin-bottom: 2em;
  border-radius: 10px;
  box-shadow: 15px 15px;
}

.sample-code p {
  color: #000;
}

/* Button to Compiler */
button {
  padding: 10px;
  background: #ffa500;
  color: #fff;
  border: none;
  border-radius: 10px;
}

button:hover {
  background: #dd5713;
  transition: 0.3s linear;
}

/* Button Sidebar section */
.menu-toggle {
  display: none;
  position: fixed;
  top: 2rem;
  right: 2rem;
  width: 60px;
  height: 60px;
  border-radius: 99px;
  background-color: #ed7014;
  cursor: pointer;
}

.button {
  position: relative;
  top: calc(50% - 2px);
  left: 50%;
  transform: translate(-50%, -50%);
  width: 32px;
}

.button > span,
.button > span::before,
.button > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 99px;
  background-color: #fff;
  transition-duration: .25s;
}

.button > span::before {
  content: '';
  top: -8px;
}

.button > span::after {
  content: '';
  top: 8px;
}

/* Button Animation */
.menu-toggle.is-active .button > span {
  transform: rotate(45deg);
}

.menu-toggle.is-active .button > span::before {
  top: 0;
  transform: rotate(0deg);
}

.menu-toggle.menu-toggle.is-active .button > span::after {
  top: 0;
  transform: rotate(90deg);
}

/* Sidebar Footer */
.white-section {
  text-align: center;
}

.p-white-sec {
  color: #fff;
}

.container-fluid {
  padding: 7px 15px;
}

.footer-icon {
  margin: 20px 10px;
  color: #fff;
}

.footer-icon:hover {
  color: #ffa500;
  transition: 0.2s linear;
}

@media (max-width: 1024px) {
  /* Sidebar Section */
  .sidebar {
    max-width: 200px;
  }

  .sidebar img {
    height: 6.5rem;
    width: 10rem;
  }
}

@media (max-width: 868px) {
  /* Sidebar Section */
  .menu-toggle {
    display: block;
  }

  .sidebar {
    position: fixed;
    top: 0;
    left: -300px;
    height: 100vh;
    width: 100%;
    transition: 0.2s linear;
  }

  .sidebar.is-active {
    left: 0;
  }

  .sidebar img {
    height: 6.5rem;
    width: 10rem;
  }

  /* Content */
  .content {
    padding-top: 8rem;
  }

  .content iframe {
    width: 100%;
    height: 400px;
  }
}

@media (max-width: 600px) {
  /* Content */
  .content {
    padding-top: 8rem;
  }

  .content iframe {
    width: 300px;
    height: 200px;
    display: block;
    margin: 3rem auto;
  }

  /* Sample Code Content */
  .sample-code {
    width: 100%;
  }

  .sample-code p {
    color: #000;
  }
}